<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubts??</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Anta&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body class="page">
    <div class="stress-chat">
    <h1 class="title">Doubts??</h1>
    <p>Don't worry, we're here to help! If you have any questions or doubts about our services, feel free to reach out to us. <br>Our team is always ready to assist you and provide the support you need.</p>
    <p>You can contact us through this <strong>form</strong></p>
    </div>
</body>
</html>