<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Year</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>
<body class="YR-PG">
    <div class="notes">
    <h1 class="notes-title">First Year Notes</h1>
    <p class="notes-content">Here you can find comprehensive study notes created by students for each subject in the first year. <br>These notes are designed to help you understand key concepts, clarify doubts, and prepare effectively for your exams. Whether you're looking for summaries, explanations, or important points, our student-created notes have got you covered.<br> Access them now and enhance your learning experience!<br>Youtube links for respective subjects are also available</p>
    <hr>
    </div>
    <div class="subjects-grid">

    <div class="subject-card">
        <h2>1. ATP</h2>
        <a href="https://youtube.com/playlist?list=PLZGOkwzhcgeS06sOZrvRAOJJ6bL_vUlAT&si=gTg9av-MJ1Tnf1aW">S1 ATP Full Playlist</a>
        <a href="{{ url_for('static', filename='UCEST105-M1-Ktunotes.in.pdf') }}"><button class="notes-btn1">MOD 1</button></a>
        <a href="{{ url_for('static', filename='UCEST105-M2-Ktunotes.in.pdf') }}"><button class="notes-btn1">MOD 2</button></a>
        <a href="{{ url_for('static', filename='ATP M3 -Ktunotes.in.pdf') }}"><button class="notes-btn1">MOD 3</button></a>
        <button class="notes-btn1">MOD 4</button>
    </div>

    <div class="subject-card">
        <h2>2. ENG. CHEMI</h2>
        <a href="{{ url_for('static', filename='GXCYT122 - M1 Ktunotes.in.pdf') }}"><button class="notes-btn1">MOD 1</button></a>
        <a href="{{ url_for('static', filename='GXCYT122 - M2 Ktunotes.in.pdf') }}"><button class="notes-btn1">MOD 2</button></a>
        <button class="notes-btn1">MOD 3</button></a>
        <a href="{{ url_for('static', filename='GXCYT122 - M4 Ktunotes.in.pdf') }}"><button class="notes-btn1">MOD 4</button></a>
    </div>

    <div class="subject-card">
        <h2>3. ENG. GRAPHICS</h2>
        <button class="notes-btn1">MOD 1</button>
        <button class="notes-btn1">MOD 2</button>
        <button class="notes-btn1">MOD 3</button>
        <button class="notes-btn1">MOD 4</button>
    </div>

    <div class="subject-card">
        <h2>4. MATH-1</h2>
        <a href="https://youtube.com/playlist?list=PL7lBkW4pLsILrjwF7LXZE1DNGkXJLy_Lb&si=YZ_yILHa197NUmQj">S1 Maths Module 1</a>
        <a href="https://youtube.com/playlist?list=PL7lBkW4pLsIJFTwf_27Idy-jGUBJ89SN0&si=0Q-bnHlOAsSV_aLt">S1 Maths Module 2</a>
        <a href="https://youtube.com/playlist?list=PL7lBkW4pLsIKp0D3dtM-dF_f6sR6aCL-w&si=0-BsNBWP9trJFKUX">S1 Maths Module 3</a>
        <a href="https://youtube.com/playlist?list=PL7lBkW4pLsIKqIdaNS3EqKACUkzp4ZM8M&si=_n5xCwY1PEIMXmkO">S1 Maths Module 4</a>
        <button class="notes-btn1">MOD 1</button>
        <a href="{{ url_for('static', filename='ITT301 M2 Ktunotes.in.pdf') }}"><button class="notes-btn1">MOD 2</button></a>
        <button class="notes-btn1">MOD 3</button>
        <button class="notes-btn1">MOD 4</button>
    </div>

    <div class="subject-card">
        <h2>5. BEE</h2>
        <button class="notes-btn1">MOD 1</button>
        <button class="notes-btn1">MOD 2</button>
        <button class="notes-btn1">MOD 3</button>
        <button class="notes-btn1">MOD 4</button>
    </div>

    <div class="subject-card">
        <h2>6. BEC</h2>
        <button class="notes-btn1">MOD 1</button>
        <button class="notes-btn1">MOD 2</button>
        <button class="notes-btn1">MOD 3</button>
        <button class="notes-btn1">MOD 4</button>
    </div>

</div>
</body>
</html>