<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Amita&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amita&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amita&family=Anta&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body class="page">
    <div class="learn-more">
        <h1>Welcome to GASANA!</h1>
        <p>GASANA is made by us, as our group project. We are planning to keep on contributing to this platform to help students.<br> GASANA is a student-centric platform designed to empower students in their academic journey. <br>Our mission is to provide a comprehensive and collaborative learning environment where students can access valuable resources, connect with peers, and enhance their learning experience.</p>
        <h2>Contact us</h2>
        <p>If you have any questions, suggestions, or would like to contribute to GASANA, please feel free to reach out to us at <a href="https://www.linkedin.com/in/archa-s-ar/">AXIOM</a></p>
        <h2>Why Choose GASANA?</h2>
        <p>GASANA is built by students who understand the struggles of academic life. <br>We are committed to providing a user-friendly platform that fosters collaboration, encourages active learning, and helps students achieve their academic goals efficiently.<br>Let's grow together!</p>
</body>
</html>