<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Anta&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Anta&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bruno+Ace&family=Lexend+Zetta:wght@100..900&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Support</title>
</head>
<body class="page">
    <div id="header">
    <h1 class="logo">GASANA</h1>
</div>
    <div class="stress-chat">
        <h1 class="title">BUDDY SUPPORT</h1>
        <p><strong>We are here for you. Because we are you</strong><br> :Team AXIOM</p>
    </div>
    <div class="chat-section">
    <div class="chat-input-container">
    <form method="POST">
        <div class="input-wrapper">
            <input type="text" name="message" placeholder="Type your thoughts here..." required>
            <button type="submit" class="send-btn">
                ➤
            </button>
        </div>
    </form>
    </div>
    {% if reply %}
<div class="reply-box">
    <p>{{ reply }}</p>
</div>
{% endif %}
</div>
</body>
</html>