<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubts??</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Anta&family=Bruno+Ace&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body class="page">
    <div id="header">
    <h1 class="logo">GASANA</h1>
</div>
    <div class="stress-chat">
    <h1 class="title">🎉 Doubt Submitted!</h1>
    <p>Your question has been received successfully.</p>
    <p>We’ll get back to you soon. Keep learning 🚀</p>

    <a href="/">
      <button class="success-btn">Go Back to Home</button>
    </a>
  </div>

</body>
</html>